<html>
<head>
    <base href="/IntranetRPI/" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" sizes="128x128" href="fonts/app.png">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="Bootstrap/css/LogIn.css" rel="stylesheet" />
    <link href="Bootstrap/custom.css" rel="stylesheet" />
    <link href="Content/textAngular.css" rel="stylesheet" />
</head>

    <body ng-app="yumKaaxApp">

        @*
        Menu
        *@
        <div class="bigContainer">
            <div class="panel-primary">
                <div class="panel-heading">
                    <div class="navbar navbar-default">
                        <div class="container" ng-controller="MenueRPICtrl">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="eRPI">E-Registro</a>
                            </div>
                            <div class="navbar-collapse collapse" style="height: 1px;">
                                <ul class="nav navbar-nav">
                                    <li><a href="eRPI#Marcas">Marcas</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="eRPI#BusquedasExt">Busquedas Externas</a></li>
                                            <li><a href="eRPI#BusquedaDeNovedad">Busquedas De Novedad</a></li>
                                            <li><a href="eRPI#Anotaciones">Anotaciones</a></li>
                                            <li><a href="eRPI#Renovaciones">Renovaciones</a></li>
                                            <li><a href="eRPI#Oposiciones">Oposiciones</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="eRPI#Patentes">Patentes</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-print"></span><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="eRPI#ptnBEnTitulo">En Titulo</a></li>
                                            <li><a href="eRPI#ptnBEnResumen">En Resumen</a></li>
                                            <li><a href="eRPI#ptnBPatente">Patente</a></li>
                                            <li><a href="eRPI#ptnBLogotipos">Logotipos</a></li>
                                            <li><a href="eRPI#ptnBTitular">Titular</a></li>
                                            <li><a href="eRPI#ptnBDisenos">Disenos</a></li>
                                            <li><a href="eRPI#ptnBInventor">Inventor</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="eRPI#ptnRpt">Reporte</a></li>
                                            <li><a href="eRPI#ptnRptEstadisticas">Patentes Ingresadas/Otorgadas</a></li>
                                            <li><a href="eRPI#ptnRptClasificacion">Listado por Clasificacion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="eRPI#DA">Derecho de Autor</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div load-spinner></div>
        <div class="row" ng-controller="appCtrlr">
            @RenderBody()
            <div app-feedback></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="Scripts/Chart.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>

        <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.2.9/ui-grid.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.2.9/ui-grid.css" />

        <script src="http://code.angularjs.org/1.5.8/i18n/angular-locale_es-es.js"></script>

        <script src="Scripts/textAngular.min.js"></script>
        <script src="Scripts/textAngular-rangy.min.js"></script>
        <script src="Scripts/textAngular-sanitize.min.js"></script>      
        <script src="Scripts/textAngularSetup.js"></script>

        @*<script src="Scripts/jrzStorage.js"></script>
        <script src="Scripts/ui-utils.js"></script>

        <script src="Spa/Factories/authFactory.js"></script>
        <script src="Spa/Factories/formUtils.js"></script>

        <script src="Spa/Controllers/appCtrlr.js"></script>
        <script src="Spa/Controllers/MenueRPICtrl.js"></script>
        <script src="Spa/Controllers/eRPICtrl.js"></script>
        <script src="Spa/Controllers/CronCtrlr.js"></script>
        <script src="Spa/Controllers/MarcasCtrl.js"></script>
        <script src="Spa/Controllers/AnotacionesCtrlr.js"></script>
        <script src="Spa/Controllers/RenovacionesCtrlr.js"></script>
        <script src="Spa/Controllers/marcas-busquedas-ctrlr.js"></script>
        <script src="Spa/Controllers/DACtrl.js"></script>
        <script src="Spa/Controllers/PatenteCtrl.js"></script>
        <script src="Spa/Controllers/authController.js"></script>

        <script src="Spa/Factories/UsersFactory.js"></script>
        <script src="Spa/Directives/GrlDirectives.js"></script>
        <script src="Spa/Directives/Feedback.js"></script>

        <script src="Spa/App/appeRPI.js"></script>
        <script src="Spa/App/Temp.js"></script>*@
        
        <script src="Spa/App/rpi_ges.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <style>
            #textAngular-editableFix-010203040506070809 {
                visibility: hidden;
            }

            .ta-editor {
                min-height: 500px;
                height: auto;
                overflow: auto;
                font-family: inherit;
                font-size: 100%;
            }
        </style>
    </body>

</html>

