@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminCanvas.cshtml";
}

<div class="form-group">
    <div class="row">

        <style>#grdRoles:after { content: "Roles";}</style>
	    <div class="col-md-10">
            <div class="boxy" id="grdRoles">
            <table class="table table-hover">
                    <thead><!--un boton para agregar mas prioridades se activa una vez que se haya guardado el expediente-->
                    <tr>
                        <th>Usuario</th>
                        <th>Cuenta</th>
                        <th>Red Social</th>
                        <th>Telefono</th>
                        <th>Pais</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Juan Perez</td>
                        <td>Juan.Perez@rpi.com.gt</td>
                        <td>Facebook</td>
                        <td>000 000 000</td>
                        <td>GT</td>
                        <td><a href="@Url.Action("Detalle","UsuariosExternos")"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="#" onclick="alert('...');"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    <tr>
                        <td>Juana Pedregal</td>
                        <td>JPedregal@rpi.com.gt</td>
                        <td>Microsoft</td>
                        <td>000 000 000</td>
                        <td>BR</td>
                        <td><a href="@Url.Action("Detalle","UsuariosExternos")"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="#" onclick="alert('...');"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    <tr>
                        <td>Pescado Torres</td>
                        <td>PezBernyTorres@rpi.com.gt</td>
                        <td>Local</td>
                        <td>000 000 000</td>
                        <td>GT</td>
                        <td><a href="@Url.Action("Detalle","UsuariosExternos")"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="#" onclick="alert('...');"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
