<div class="left-canvas">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <style>
                    #grdAnualidades:after {
                        content: "Anualidades";
                    }
                </style>
                <div class="boxy" id="grdAnualidades">
                    <table class="table table-hover">
                        <thead>
                            <!--un boton para agregar mas prioridades se activa una vez que se haya guardado el expediente-->
                            <tr>
                                <th>Usuario que Entrega</th>
                                <th>Usuario que Recibe</th>
                                <th>Fecha</th>
                                <th>Motivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>....</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
