<!--Admite observaciones-->
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de Resolucion</label>
            <p class="input-group">
                <input type="text" name="FechaResolucion" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="_resolucion.FechaResolucion" is-open="fresolucion.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event, 'fresolucion')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-md-3">
            <label>Fecha de Memorial</label>
            <p class="input-group">
                <input type="text" name="FechaMemorial" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="_resolucion.FechaMemorial" is-open="fmem.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event, 'fmem')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-11">
            <label>Planteada Por</label>
            <textarea rows="2" cols="10" name="PlanteadaPor" ng-model="_resolucion.PlanteadaPor" class="form-control" placeholder="Planteada por..." />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-lg" ng-click="Admite_Observaciones(_resolucion)">Grabar e Imprimir Resolucion</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-lg" confirm-action msg="Esta segur@ de Proceder?" continue-with="rollbackResolution()">Cancelar</button>
        </div>
    </div>
</div>

