<div class="form-group">
    <div class="row">
        <div class="col-md-5">
            <label>Fecha</label>
            <input type="text" name="FechaTitulo" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="titulo.FechaTitulo" is-open="ftit.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'ftit')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label>Fecha Anotacion</label>
            <input type="text" name="FechaAnotacion" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="titulo.FechaAnotacion" is-open="fan.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'fan')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="col-md-4">
            <label>Fecha Resolucion Concesion</label>
            <input type="text" name="FechaConcesion" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="titulo.FechaConcesion" is-open="fcon.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'fcon')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="col-md-4">
            <label>Plazo en años</label>
            <input type="text" name="PlazoEnAnios" ng-model="titulo.PlazoEnAnios" class="form-control" placeholder="Plazo en años 99999" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label>Tomo</label>
            <input type="text" name="Tomo" ng-model="titulo.Tomo" class="form-control" placeholder="Tomo" />
        </div>
        <div class="col-md-4">
            <label>Folio</label>
            <input type="text" name="Folio" ng-model="titulo.Folio" class="form-control" placeholder="Folio" />
        </div>
        <div class="col-md-4">
            <label>Registro</label>
            <input type="text" name="Registro" ng-model="titulo.Registro" class="form-control" placeholder="Registro" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Opt" value="1" style="width:15px;">
                    Entidad
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Opt" value="1" style="width:15px;">
                    Nacionalidad
                </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Opt" value="1" style="width:15px;">
                    Concedida
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Opt" value="2" style="width:15px;">
                    Parcialmente concedida
                </label>
            </div>
            <textarea rows="4" cols="10" name="Notas" ng-model="titulo.Notas" class="form-control" placeholder="Notas..." />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Org" value="1" style="width:15px;">
                    Ministerial
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="titulo.Org" value="2" style="width:15px;">
                    Gubernamental
                </label>
            </div>
            <label>Numero de Acuerdo</label>
            <input type="text" name="NumeroDeAcuerdo" ng-model="titulo.NumeroDeAcuerdo" class="form-control" placeholder="#999999999" />
        </div>
        <div class="col-md-4">
            <label>Por el Senor</label>
            <input type="text" name="PorElSenor" ng-model="titulo.PorElSenor" class="form-control" placeholder="Por el Senor..." />
        </div>
        <div class="col-md-4">
            <label>Fecha del Acuerdo</label>
            <input type="text" name="FechaDeAcuerdo" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="titulo.FechaDeAcuerdo" is-open="facu.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'facu')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-block">Grabar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-block">Imprimir</button>
        </div>
    </div>
</div>