<!--Titulo-->
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Fecha:</label>
            <p class="input-group">
                <input type="text" name="FechaResolucion" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="_resolucion.FechaResolucion" is-open="fresolucion.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event, 'fresolucion')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-md-3">
            <label>Fecha Anotación:</label>
            <p class="input-group">
                <input type="text" name="FechaAnotación" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="_resolucion.FechaAnotación" is-open="fmem.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event, 'fmem')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-md-3">
            <label>Fecha Resolución Concesión:</label>
            <p class="input-group">
                <input type="text" name="FechaConcesion" class="form-control" uib-datepicker-popup="{{dateHelper.format}}" ng-model="_resolucion.FechaConcesion" is-open="fnoti.open" min-date="dateHelper.minDate" max-date="dateHelper.maxDate" datepicker-options="dateHelper.dateOptions" date-disabled="dateHelper.disabled(date, mode)" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event, 'fnoti')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Tomo</label>
            <input type="text" name="Tomo" ng-model="_resolucion.Tomo" class="form-control" placeholder="" />
        </div>
        <div class="col-md-3">
            <label>Folio</label>
            <input type="text" name="Folio" ng-model="_resolucion.Folio" class="form-control" placeholder="" />
        </div>
        <div class="col-md-3">
            <label>Registro</label>
            <input type="text" name="Registro" ng-model="_resolucion.Registro" class="form-control" placeholder="" />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label>Plazo en años:</label>
            <input type="text" name="Plazo" ng-model="_resolucion.Plazo" class="form-control" placeholder="" />
        </div>
        <div class="col-md-6">
            <label class="radio-inline">
                <input type="radio" name="Entidad" ng-model="_resolucion.Entidad" value="entidad">entidad
            </label>
            <label class="radio-inline">
                <input type="radio" name="Entidad" ng-model="_resolucion.Entidad" value="de nacionalidad">de nacionalidad
            </label>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label class="radio-inline">
                <input type="radio" name="DeConformidad" ng-model="_resolucion.DeConformidad" value="Concedida">Concedida
            </label>
            <label class="radio-inline">
                <input type="radio" name="DeConformidad" ng-model="_resolucion.DeConformidad" value="Parcialmente concedida">Parcialmente concedida
            </label>
        </div>
        <div class="col-md-4">
            <label>Observaciones:</label>
            <textarea rows="2" cols="10" name="Observaciones" ng-model="_resolucion.Observaciones" class="form-control" placeholder="" />
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-lg" ng-click="Titulo(_resolucion)">Grabar e Imprimir Resolucion</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-lg" confirm-action msg="Esta segur@ de Proceder?" continue-with="rollbackResolution()">Cancelar</button>
        </div>
    </div>
</div>

