<!-- Nav tabs -->
    <uib-tabset>
        <uib-tab heading="Solicitud">
            <div ng-include="'./Spa/Views/eAnota/AnotaSolicitud.html'"></div>
        </uib-tab>
    </uib-tabset>

    <!--<div class="form-group">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info btn-block" name="_action" value="Save"><span class="glyphicon glyphicon-floppy-save"> Grabar</span></button>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info btn-block" name="_action" value="Cerrar"><span class="glyphicon glyphicon-folder-close"> Cerrar</span></button>
            </div>
        </div>
    </div>-->
