<br><br><br><br>
<div class="container">
    <div ng-controller="UsuariosPublicosCtrlr">

        <form class="simple-form" name='form' novalidate>

            <input ng-hide="usuario.Id" ng-model="usuario.Id" />
            <input ng-hide="usuario.Spk" ng-model="usuario.Spk" />

            Name:<input type="text" name="Nombre" ng-model="usuario.Nombre" class="form-control" disabled /><br />

            Cuenta:<input type="text" name="Cuenta" ng-model="usuario.Cuenta" class="form-control" disabled /><br />

            Password:<input type="Password" ng-model="usuario.Password" equals="{{usuario.confirm_password}}" class="form-control" required /><br />
            <div ng-show="form.user.Password.$error.required">Field required</div>

            Reenter Password: <input type="password" ng-model="usuario.confirm_password" equals="{{usuario.Password}}" class="form-control" required /><br />
            <div ng-show="form.user.confirm_password.$error.required">Field required!</div>

            <a href="Admin#" class=" btn btn-default">Close</a>

            <button type="button" class="btn btn-primary" ng-click="setPW(usuario)" ng-disabled="form.$invalid || isUnchanged(usuario)">Grabar</button>

        </form>
    </div>
</div>
