<br>
<div class="container">
    <div>

        <form class="simple-form" name='form' novalidate>

            <input ng-hide="usuario.Id" ng-model="usuario.Id" />
            Nombre:<input type="text" name="Nombre" ng-model="usuario.Nombre" class="form-control" required />
            <span class="label label-danger" ng-show="form.Nombre.$error.required">Nombre de usuario es requerido<br /></span><br />

            Email:<input type="text" name="Email" ng-model="usuario.Email" class="form-control" required />
            <span class="label label-danger" ng-show="form.Email.$error.required">Email de usuario es requerido<br /></span><br />

            Rol:<select class="form-control" name="RolId" ng-model="usuario.RolId" ng-options="rol.Id as rol.Nombre for rol in roles"></select><br />
            <span class="label label-danger" ng-show="form.RolId.$error.required">Rol de usuario es requerido<br /></span><br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        Link para cambio de clave
                    </div>
                    <div class="col-md-5">
                        <span class="btn btn-default  btn-block"><a href="Admin#Usuarios/ResetPW/{{usuario.Spk}}/{{usuario.Id}}">Usuarios/ResetPW/{{usuario.Spk}}/{{usuario.Id}}</a></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        Agregar/Remover permisos
                    </div>
                    <div class="col-md-5">
                        <span class="btn btn-default  btn-block"><a href="Admin#Usuarios/Permisos/{{usuario.Id}}">Permisos</a></span>
                    </div>
                </div>
            </div>

            <br />
            <a href="Admin#Usuarios" class="btn btn-default">Cancelar</a>

            <button type="button" class="btn btn-primary" ng-click="update(usuario)" ng-disabled="form.$invalid || isUnchanged(usuario)">Grabar</button>
        </form>
    </div>
</div>
