<div class="left-canvas">
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <style>
                    #grdDigital:after {
                        content: "Expediente Digitalizado";
                    }
                </style>
                <div class="boxy" id="grdDigital">
                    <table class="table table-hover">
                        <thead>
                            <!--un boton para agregar mas prioridades se activa una vez que se haya guardado el expediente-->
                            <tr>
                                <th>Descripcion del documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">-</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




