<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Iniciar sesión</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="userName">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
        <!--<label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Entrar</button>
    </form>
</div>
<!--<link href="fdc/Content/Login.css" rel="stylesheet" />-->


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="Images/Patents.png">
            <h2>Patentes</h2>
            <p>Una patente es un derecho exclusivo concedido a una invención, es decir, un producto o procedimiento que aporta, en general, una nueva manera de hacer algo o una nueva solución técnica a un problema.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="Images/CopyRights.png">
            <h2>Derecho de Autor</h2>
            <p>El derecho de autor es un término jurídico que describe los derechos concedidos a los creadores por sus obras literarias y artísticas.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="Images/Trademarks.png">
            <h2>Marcas</h2>
            <p>Una marca ofrece protección al titular de la marca, garantizándole el derecho exclusivo a utilizarla para identificar bienes o servicios, o a autorizar a un tercero a utilizarla a cambio de un pago.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>