
<div class="row">
    <div class="col-md-3">
        <img class="img-circle" data-src="holder.js/90x90" alt="90x90" style="width: 90px; height: 90px;" src="/Publico/Images/MRKS.jpg">
    </div>
    <div class="col-md-2">
        <h4>Marcas</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img class="img-circle" data-src="holder.js/90x90" alt="90x90" style="width: 90px; height: 90px;" src="/Publico/Images/PTNS.jpg">
    </div>
    <div class="col-md-2">
        <h4>Patentes</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img class="img-circle" data-src="holder.js/90x90" alt="90x90" style="width: 90px; height: 90px;" src="/Publico/Images/DCHATRS.jpg">
    </div>
    <div class="col-md-2">
        <h4>Derecho de Autor</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img class="img-circle" data-src="holder.js/90x90" alt="90x90" style="width: 90px; height: 90px;" src="/Publico/Images/JRPDCIA.jpg">
    </div>
    <div class="col-md-3">
        <h4>Jurisprudencia</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img class="img-circle" data-src="holder.js/90x90" alt="90x90" style="width: 90px; height: 90px;" src="/Publico/Images/GCTA.png">
    </div>
    <div class="col-md-2">
        <h4>Boletín Electrónico</h4>
    </div>
</div>