<style>
    #stlGaceta:after {
        content: "Boletin Electronico";
    }
</style>
<div class="boxy" id="stlGaceta">
    <div class="row">
        <div class="col-xs-4">
            <h3>{{area.Nombre}}</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-4">
            <label for="search">Semana</label>

            <p class="input-group">
                <input type="text" name="fechaSelected" ng-model="fechaSelected" class="form-control"
                       uib-datepicker-popup="{{format}}"
                       is-open="status.opened" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" close-text="Close" />

                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

        </div>
        <div class="col-xs-4">
            <br />
            <a target="_blank" href="/eRegistroAPI{{seccion}}/semanal?fecha={{fechaSelected | date:'dd/MM/yyyy'}}" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-folder-open">Abrir en Explorador</span></a>
        </div>
        <div class="col-xs-4">
            <br />
            <a target="_blank" href="/eRegistroAPI{{seccion}}/semanal?fecha={{fechaSelected | date:'dd/MM/yyyy'}}&format=pdf" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-folder-open">Abrir en PDF</span></a>
        </div>
    </div>
    <br>
    <!--<a href="#Leyes/0" class=" btn btn-default">Agregar</a>-->

</div>