
<div class="form-group">
    <div class="bs-box bs-box-yellow row">
        <label>PRIORIDAD</label>
        <table class="table table-hover">
            <thead>
                <!--un boton para agregar mas prioridades se activa una vez que se haya guardado el expediente-->
                <tr>
                    <th>Pais</th>
                    <th>Fecha</th>
                    <th>Numero</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prioridad in model.Prioridades">
                    <td>{{resolvePais(prioridad.PaisId)}}</td>
                    <td>{{prioridad.Fecha | date:"dd/MM/yyyy"}}</td>
                    <td>{{prioridad.Numero}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="form-group">
    <div class="bs-box bs-box-blue row">
        <label>ACTIVIDAD</label><br />
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    Industrial <input type="checkbox" ng-model="model.Marca.Industrial" style="width:15px;">
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    De Servicios<input type="checkbox" ng-model="model.Marca.DeServicios" style="width:15px;">
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    Certificacion<input type="checkbox" ng-model="model.Marca.Certificacion" style="width:15px;">
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    Comercial<input type="checkbox" ng-model="model.Marca.Comercial" style="width:15px;">
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    Colectiva<input type="checkbox" ng-model="model.Marca.Colectiva" style="width:15px;">
                </label>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Clase</label>
            <div class="form-display">{{model.ClassificacionDeNiza.Codigo}}</div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Productos</label>
            <p>{{model.Marca.Productos}}</p>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Reservas</label>
            <p>{{model.Marca.Reservas}}</p>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="bs-box bs-box-blue row">
        <label>ANOTACIONES</label><br />
    </div>
</div>

<div class="form-group">
    <div class="bs-box bs-box-green row">
        <label>RENOVACIONES</label><br />
    </div>
</div>

<div class="form-group">
    <div class="bs-box bs-box-red row">
        <label>GRAFICO</label><br />
    </div>
</div>

<div class="form-group">
    <div class="bs-box bs-box-orange row">
        <label>DISTINTIVO SONORO</label><br />
    </div>
</div>
