
<div class="panel panel-info" ng-controller="mexpedienteCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Marcas - Consulta por Expediente</h3>
    </div>

    <div class="panel-body">

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Numero</label>
                    <input type="text" name="Numero" ng-model="model.Expediente.Numero" class="form-control" ui-mask="9999-99999" />
                    
                </div>

                <div class="col-md-3">
                    <br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getExpedienteByNumero(model.Expediente.Numero)"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <a class="btn btn-default btn-block btn-xs" href="#" role="button">Expediente Digital</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-default btn-block btn-xs" href="#" role="button">Edicto</a>
                </div>                
                <div class="col-md-1">
                    <div ng-include="'./Spa/Views/selectFavorito.html'"></div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Tipo</label>
                    <div class="form-display">{{model.TipoDeRegistro}}</div>
                </div>
                <div class="col-md-6">
                    <label>Marca solicitada</label>
                    <div class="form-display">{{model.Marca.Denominacion}}</div>
                </div>
                <div class="col-md-3">
                    <label>Tipo de Marca</label>
                    <div class="form-display">{{model.TipoDeMarca}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Pais de origen del distintivo</label>
                    <div class="form-display">{{resolvePais(model.Marca.PaisConstituidaId)}}</div>
                </div>
                <div class="col-md-3">
                    <label>Fecha</label>
                    <div class="form-display">{{model.Expediente.FechaDeSolicitud | date:"dd/MMM/yyyy"}}</div>
                </div>
                <div class="col-md-4">
                    <label>Situacion Administrativa</label>
                    <div class="form-display">{{model.SituacionAdmin}}</div>
                </div>
                <div class="col-md-2">
                    <label>En Fecha</label>
                    <div class="form-display">{{model.Expediente.FechaDeEstatus  | date:"dd/MMM/yyyy"}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Registro</label>
                    <div class="form-display">{{model.Marca.Registro}}</div> 
                </div>

                <div class="col-md-3">
                    <label>Tomo</label>
                    <div class="form-display">{{model.Marca.Tomo}}</div>
                </div>
                <div class="col-md-3">
                    <label>Folio</label>
                    <div class="form-display">{{model.Marca.Folio}}</div>
                </div>
            </div>
        </div>

        <div ng-include="'./Spa/Views/mbody.html'"></div>
    </div>
</div>

