
<div class="panel panel-info" ng-controller="pexpedienteCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Expediente de Patentes - Consulta por Expediente</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Tipo</label>
                    <select class="form-control" name="TipoDeRegistroId" ng-model="model.Expediente.TipoDeRegistroId" ng-options="t.Nombre for t in tipoDePatentes"></select>
                </div>
                <div class="col-md-3">
                    <label>Registro</label>
                    <input type="text" name="Registro" ng-model="model.Patente.Registro" class="form-control" placeholder="999999999" />
                </div>
                <div class="col-md-3">
                    <br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getExpedienteByRegistro(model.Expediente.TipoDeRegistroId, model.Patente.Registro)"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-default btn-block btn-xs" href="#" role="button">Edicto</a>
                </div>
                <div class="col-md-1">
                    <div ng-include="'./Spa/Views/selectFavorito.html'"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Titulo de la Patente</label>
                    <textarea rows="2" cols="10" name="Titulo" ng-model="model.Patente.Descripcion" class="form-control" disabled />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Solicitud (No. Expediente)</label>
                    <div class="form-display">{{model.Expediente.Numero}}</div>
                </div>
                <div class="col-md-3">
                    <label>Fecha</label>
                    <div class="form-display">{{model.Expediente.FechaDeSolicitud}}</div>
                </div>
                <div class="col-md-3">
                    <label>Situacion Administrativa</label>
                    <div class="form-display">{{model.SituacionAdmin}}</div>
                </div>
                <div class="col-md-3">
                    <label>En Fecha</label>
                    <div class="form-display">{{model.Expediente.FechaDeEstatus | date:'MM/dd/yyyy'}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Registro</label>
                    <div class="form-display">{{model.Patente.Registro}}</div>
                </div>
                <div class="col-md-3">
                    <label>Tomo</label>
                    <div class="form-display">{{model.Patente.Tomo}}</div>
                </div>
                <div class="col-md-3">
                    <label>Folio</label>
                    <div class="form-display">{{model.Patente.Folio}}</div>
                </div>
                <div class="col-md-3">
                    <label>Clasificacion</label>
                    <div class="form-display">{{model.Clasificacion.Descripcion}}</div>
                </div>
            </div>
        </div>

        <div ng-include="'./Spa/Views/pBody.html'"></div>

    </div>
</div>

