
<div class="panel panel-info" ng-controller="pbusquedadCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">RPI - Minuto a Minuto</h3>
        <h3 class="panel-title">Esta es una ventana al RPI, muestra expedientes consultados y trabajados durante el dia.</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <div class="bs-box bs-box-green row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4>Actividades no registradas hasta el momento....</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

</div>

