<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Gaceta.css" rel="stylesheet" />
    <style>
        .row {
            margin-right: 25px;
            margin-left: 25px;
            border-bottom: 1px solid #ccc;
        }
        .resol {
            margin-right: 45px;
            margin-left: 25px;
        }
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>
