@{
    ViewBag.Title = "Resolucion";
    ViewBag.Departamento = "DEPARTAMENTO DE PATENTES";
    var solicitud = ViewBag.Solicitud as PI.Models.ExpedienteDePatente;
    var tramite = ViewBag.Tramite as PI.Models.Composite.ResolucionCustomizada;
    ViewBag.sello = solicitud.getSello(tramite.Llave.ToString());
    Layout = "~/Views/Shared/_MembretadaLayout.cshtml";
}

<style>
    p {
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<p><h2>@tramite.Titulo</h2></p><br />

<p>Expediente @solicitud.Expediente.Numero.Insert(4, "-")</p>


@{
    var _fresol = Common.Web.Util.getEnLetras(tramite.Fecha.Day) + " DE " + Common.Web.Util.getMes(tramite.Fecha.Month) + " DEL DOS MIL " + Common.Web.Util.getEnLetras(tramite.Fecha.Year - 2000);
    var _fsolicitud = Common.Web.Util.getEnLetras(solicitud.Expediente.FechaDeSolicitud.Day) + " DE " + Common.Web.Util.getMes(solicitud.Expediente.FechaDeSolicitud.Month) + " DEL DOS MIL " + Common.Web.Util.getEnLetras(solicitud.Expediente.FechaDeSolicitud.Year - 2000);
}


<p>
    REGISTRO DE LA PROPIEDAD INTELECTUAL,  Guatemala, @_fresol<br /><br />

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu euismod nulla. Vivamus tempor ligula sed orci vehicula interdum eu ut arcu. Suspendisse finibus ac diam in pharetra. Donec condimentum a felis ut volutpat. Vivamus et sapien a nisi ornare lobortis. Etiam urna nulla, finibus ornare interdum ac, dapibus ut libero. Nunc porta non mi nec placerat. Integer sed quam vestibulum nisi suscipit cursus. Phasellus id nibh semper velit mattis tincidunt vestibulum sit amet elit. Pellentesque vehicula eget sapien nec iaculis.
</p>