<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
      <add key="legacyDb" value="C:\tmp\rpidbs\marcas"/>
      <add key="legacyPatentes" value="C:\tmp\rpidbs\pat"/>
      <add key="legacyDA" value="C:\tmp\rpidbs\da"/>

      <add key="crono.daysBack" value="6"/>

      <add key="rpiDb" value="Data Source=localhost;Initial Catalog=GPI;Integrated Security=False;User ID=rpi;Password=baktun;MultipleActiveResultSets=True;Connection Timeout=0"/>
    </appSettings>

    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogFile.log"/>
          <remove name="Default"/>
        </listeners>
      </trace>
    </system.diagnostics>
  
</configuration>
